{% extends 'base.html' %}
{% load staticfiles i18n %}

{% block content %}
<div class="px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center page-wrapper">
    <h1 class="display-8">{% trans "Potwierdź usunięcie" %}</h1>
    <form action="" class="form-horizontal mx-auto mt-5" method="post">
        {% csrf_token %}
            <p>Czy jesteś pewien że chcesz usunąć "{{ object }}" ?</p>
        <a href="{% url 'gallery:list-image' %}" class="btn btn-success" type="submit" value="cancelled">{% trans "Nie" %}</a>
        <button class="btn btn-danger" type="submit" value="Confirm">{% trans "Tak" %}</button>
    </form>
</div>
{% endblock %}

{% block extra_js %}
{% endblock %}