{% extends 'base.html' %}
{% load staticfiles i18n %}

{% block content %}
<div class="px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center page-wrapper">
    <h1 class="display-6 mb-5">{{ image.title }}</h1>
    <div class="row">
        <div class="col-7">
            <div class="img-wrapper mb-2">
                <canvas id="img-canvas">
                    <img id="image-vision" src="{{ image.image.url }}" alt="">
                </canvas>
            </div>
            <div class="mb-3 mt-4">
                <span class="pt-2 pb-2 text-muted d-inline float-left">{{ image.timestamp|date }}</span>
                <button data-vision="{{ image.get_update_vision_url }}" class="btn btn-success float-right mr-1">
                    {% trans "Aktualizacja danych" %}
                </button>
                <div class="clearfix"></div>
            </div>
            <p class="text-left text-muted">{{ image.description }}</p>
        </div>
        <div class="col-5">
            <div class="mb-3">
                <button class="btn btn-primary face-trigger">Face</button>
                <button class="btn btn-primary label-trigger">Label</button>
            </div>
            <div id="results">
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block extra_js %}
    <script src="{% static 'js/vision.js' %}"></script>
    <script src="{% static 'js/draw-vision.js' %}"></script>
    <script>
        function getFaceDetectData(ctx){
            $.ajax({
                headers: {
                    "X-CSRFToken": getCookie("csrftoken")
                },
                url         : '{{ image.get_vision_face_detect_url }}',
                type        : 'post',
                contentType : 'aplication/json',
                dataType    : 'json'
            }).done(function(response) {
                if (response.success){
                    if(!$.isEmptyObject(response.face_data)){
                        highlightFaces(ctx, response.face_data)
                        highlightLandmarks(ctx, response.face_data)
                        showFaceData(response.face_data)
                    } else {
                        showNoDataMsgNotify()
                    }
                }
            });
        }

        function getLabelsData(ctx){
            $.ajax({
                headers: {
                    "X-CSRFToken": getCookie("csrftoken")
                },
                url         : '{{ image.get_vision_face_detect_url }}',
                type        : 'post',
                contentType : 'aplication/json',
                dataType    : 'json'
            }).done(function(response) {
                if (response.success){
                    if(!$.isEmptyObject(response.labels_data)){
                        showLabelData(response.labels_data)
                    } else {
                        showNoDataMsgNotify()
                    }
                }
            });
        }
    </script>
{% endblock %}