{% extends 'base.html' %}
{% load staticfiles i18n thumbnail %}

{% block content %}
<div class="px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center page-wrapper">
    <h1 class="display-6 mb-5">{% trans "Lista zdjęć" %}</h1>
    <div class="row">
        {% for image in object_list %}
        <div class="col-md-4">
              <div class="card mb-4 box-shadow">
                    {% thumbnail image.image "348x225" crop="center" as im %}
                        <img class="card-img-top" src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">
                    {% endthumbnail %}
                    <div class="card-body">
                        <h5 class="">{{ image.title }}</h5>
                        <p class="card-text">{{ image.description }}</p>
                        <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                            <a href="{{ image.get_detail_url }}" type="button" class="btn btn-sm btn-outline-secondary">Widok</a>
                            <a href="{{ image.get_edit_url }}" type="button" class="btn btn-sm btn-outline-secondary">Edycja</a>
                            <a href="{{ image.get_delete_url }}" type="button" class="btn btn-sm btn-outline-secondary">Usuń</a>
                        </div>
                        <small class="text-muted">{{ image.timestamp|date:"d.m.Y" }}</small>
                        </div>
                    </div>
              </div>
        </div>
        {% empty %}
        <div class="text-center">
             {% trans "Brak zdjęć w galerii..." %}
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}

{% block extra_js %}
{% endblock %}