.logo .fas.fa-camera{
    font-size: 36px;
}

.page-wrapper {
    min-height: calc(100vh - 128px)
}

.messages {
    position: fixed;
    width: 350px;
    height: 150px;
    top: 32%;
    left: 50%;
    transform: translate(-50%);
    z-index: 99;
    padding: 0;
    list-style: none;
    border-radius: .25rem;
}

.messages .success {
    background-color: #28A745;
    width: 100%;
    height: 100%;
    color: #FFF;
    padding: 20px;
}

.messages .error {
    background-color: #DC3545;
    width: 100%;
    height: 100%;
    color: #FFF;
    padding: 20px;
}

.messages .msg-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-weight: 900;
    text-align: center;
}

#results {
    width: 400px;
    height: 400px;
    padding: 18px;
    overflow: auto;
    box-sizing: border-box;
}

#results .data_row {
    margin: 5px 0;
    color: #665;
}

#results .label{
    width: 21%;
    display: inline-block;
    text-align: left;
    font-size: 14px;
}
#results .bar{
    width: 44%;
    text-align: left;
    display: inline-block;
}

#results .description{
    width: 31%;
    display: inline-block;
    font-size: 12px;
}

#results .header{
    text-align: left;
    font-weight: bold;
    font-size: 14px;
    color: #aaa;
}

#results .rate {
    background-color: #43a047;
    width: 20px;
    height: 20px;
    display: inline-block;
    margin-right: 8px;
    border-radius: 50%;
}

#results span.key {
    margin-right: 5px;
    color: #665;
}

#results span.value {
    margin-right: 14px;
    color: #43a047;
}

#results .conf-name,
#results .lab-name{
    width: 83%;
    display: inline-block;
}
#results .conf-score,
#results .lab-score{
    width: 15%;
    display: inline-block;
}

#results .conf-meter,
#results .lab-meter{
    margin-top: 4px;
    background-color: #ccc;
    height: 4px;
}

#results .conf-bar,
#results .lab-bar{
    height: 100%;
    background-color: #2196f3;
}