{% extends 'base.html' %}
{% load staticfiles i18n %}

{% block content %}

<div class="px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center page-wrapper">
    <h1 class="display-4">{% trans "Image Vision" %}</h1>
    <p class="lead">
        {% trans "Zarejestruj się, dodaj swoje zdjęcia i przekonaj się jak komputery rozpoznają elementy znajdujące się na nich" %}
    </p>
    <div class="mt-5">
        <a href="{% url 'registration' %}" class="btn btn-primary my-2">{% trans "Zarejestruj się" %}</a>
    </div>
</div>

{% endblock %}

{% block extra_js %}
{% endblock %}