{% extends 'base.html' %}
{% load staticfiles i18n %}

{% block content %}

<div class="px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center page-wrapper">
    <h1 class="display-6 mb-5">{% trans "Panel" %}</h1>
    <div class="btn-container">
        <a href="{% url 'gallery:list-image' %}" class="btn btn-primary">Galeria</a>
        <a href="{% url 'gallery:add-image' %}" class="btn btn-primary">Dodaj zdjęcie</a>
    </div>
</div>

{% endblock %}

{% block extra_js %}
{% endblock %}