{% extends 'base.html' %}
{% load staticfiles i18n %}

{% block content %}
<div class="px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center page-wrapper">
    <h1>{% trans "Rejestracja" %}</h1>
    <div class="row">
        <div class="col-md-4 offset-md-4">
            <form action="" class="form-horizontal mx-auto mt-5" method="post">
                {% csrf_token %}
                <div class="ibox-content">
                    {{ form.as_p }}
                </div>
                <div class="ibox-footer text-right">
                    <button type="submit" class="btn btn-primary">{% trans "Zaloguj się" %}</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}

{% block extra_js %}
{% endblock %}